:root{
    --background: #f1f1f1;
    --primary-color: #0d4a67;
    --secondary-color: #345564;
    --accent-color: #daae1f;
    --text-color: #1b1b1b;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
html{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16pt;
    color: var(--background);
}
body{
    min-height: 100vh;
    padding: 10px;
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    margin-top: 60px;
    margin-bottom: 20px;
    font-size: 3rem;
    text-align: center;
    color: var(--accent-color);
}
.wrapper{
    margin-top: 10px;
    width: 700px;
    max-width: 100%; /*on smaller devices this matters*/
    display: flex;
    flex-direction: column;
    align-items: center;
}
#tool-bar{
    margin-top: 20px;
    height: 50px;
    width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}
form{
    width: 500px;
    max-width: 70%;
    position: relative;
    height: 100%;
    display: flex;
    border: 3px solid var(--secondary-color);
    border-radius: 1000px;
}
#input-location{
    padding: 10pt;
    box-sizing: border-box;
    width: 100%;
    background: none;
    border: none;
    outline: none;
    font: inherit;
    color: var(--text-color);
    caret-color: var(--accent-color);
}
#input-location:focus{
    outline: none;
}
#input-location:autofill  {
    border-radius: 1000px;
}
button{
    height: 100%;
    padding: 0 30px;
    border: solid var(--primary-color) 3px;
    border-radius: 1000px;
    font: inherit;
    color: var(--text-color);
    cursor: pointer;
}
#show-button{
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
    border: none;

}
#button-degree-switch{
    margin-left: 30px;
}
#show-button:hover, #button-degree-switch:hover{
    color: var(--accent-color);
    background-color: var(--secondary-color);
    transition: 200ms ease;
}
#show-button:active, #button-degree-switch:active{
    background-color: var(--primary-color);
}
p{
    color: var(--text-color)
}
#loader{
    margin-top: 150px;
    display: none;
}
#location-text{
    font-size: 30pt;
    margin-top: 40px;
}
#wrapper-weather-info{
    display: none;
}
#current-weather-wrapper{
    margin-top: 50px;
    width: 160px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    border: 3px var(--primary-color) solid;
    border-radius: 20px;
    align-items: center;
    gap: 25px;
}
#current-weather-condition, .temperature{
    font-size: 24pt;
    text-align: center;
}
#weather-forecast-wrapper{
    margin-top: 50px;
    display: flex;
    gap: 25px;
}
.daily-weather-card{
    display: flex;
    flex-direction: column;
    align-items: center;
}


